@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.slick-arrow .slick-next,.slick-arrow .slick-next{
    color: #000;;
}.hero-container {
	margin-top: 100px;
    margin-left: 120px;
    width: 83%;
}
.hero-container img {
	height: 300px;
}.slick-slider.slick-initialized {
	width: 50%;
}.hero-container {
	margin-top: 100px;
}.slick-dots.custom-ind {
	position: absolute;
	right: -35rem;
	top: -20px;
	display: flex !important;
	justify-content: space-evenly;
	gap: 9rem;
}.slick-prev {
	left: 87%;
}.slick-next {
	right: -2rem;
}
.slick-prev, .slick-next {
	width: 50px;
	height: 50px;
}.slick-prev::before, .slick-next::before {
	font-size: 50px;
}.slick-prev, .slick-next {
	bottom: -4rem;
	transform: translate(50%,0);
	top: unset;
}.travel-title {
	position: relative;
}.travel-title h1 {
	position: absolute;
	bottom: 21px;
	text-transform: uppercase;
	font-size: 22px;
	padding-left: 12px;
	min-width: 180px;
}.hero-car h2 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	font-style: normal;
}.hero-car p {
	font-size: 17px;
	line-height: 25px;
	font-weight: 400;
	margin-bottom: 40px;
}