.App {
  text-align: center;
}
.home_Content {
	background-image: url("./images/Rectangle\ 1.png");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: 0px -32px;
  position: relative;
  color: #fff;
}
.bg-darkc {
	width: 100%;
	height: 100%;
	background-color: #000000b0;
}.mainBtn {
	padding: 12px 30px;
	background-color: #F9A51A;
	border: none;
	border-radius: 6px;
}